/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

/public/vendor/
/resources/views/vendor/
/stubs/
/tests/vendor/
/vendor
/.phpunit.result.cache
/.phpunit.result.cache
/.phpunit.result.cache
/lang

torage/app/.gitignore
storage/app/public/.gitignore
storage/debugbar/.gitignore
storage/framework/.gitignore
storage/framework/cache/.gitignore
storage/framework/cache/data/.gitignore
storage/framework/sessions/.gitignore
storage/framework/testing/.gitignore
storage/framework/views/.gitignore
storage/logs/.gitignore


**/caddy
frankenphp
frankenphp-worker.php


**/caddy
frankenphp
frankenphp-worker.php


# windsurf rules
.windsurfrules
.aider*

.cursor/
.coderabbit.yaml

.kiro/

